In [51]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [52]:
table = pd.read_html("https://www.numbeo.com/traffic/rankings_by_country.jsp?title=2023&region=150")
transport_df = table[1]
transport_df = transport_df.drop(columns = {"Time Exp. Index", "Inefficiency Index", "Rank"})
transport_df = transport_df.rename(columns = {"Traffic Index": "traffic_index", "Time Index(in minutes)": "avg_time",  "CO2 Emission Index": "co2_emission"})
transport_df.to_csv("transport.csv")
transport_df.head()

          Country  traffic_index  avg_time  co2_emission
0          Russia          177.9      43.9        4318.7
1         Ireland          149.5      37.9        4299.8
2         Belgium          146.2      36.3        4705.4
3         Ukraine          143.5      37.8        3802.8
4  United Kingdom          133.8      34.6        4081.1

In [53]:
table = pd.read_html("https://www.numbeo.com/crime/rankings_by_country.jsp?title=2023&region=150")
safety_df = pd.DataFrame(table[1])
safety_df = safety_df.drop(columns = "Rank")
safety_df.head()

   Country  Crime Index  Safety Index
0  Belarus         56.4          43.6
1   France         55.3          44.7
2  Belgium         49.1          50.9
3   Sweden         48.5          51.5
4  Moldova         47.1          52.9

In [54]:
transport_safety_df = transport_df.merge(safety_df, how = "left", on = "Country" )
transport_safety_df.head()

,Country,traffic_index,avg_time,co2_emission,Crime Index,Safety Index
0,Russia,177.9,43.9,4318.7,39.3,60.7
1,Ireland,149.5,37.9,4299.8,45.9,54.1
2,Belgium,146.2,36.3,4705.4,49.1,50.9
3,Ukraine,143.5,37.8,3802.8,46.7,53.3
4,United Kingdom,133.8,34.6,4081.1,46.9,53.1

In [55]:
url = "https://www.speedtest.net/global-index#mobile"
response = requests.get(url)

soup = BeautifulSoup(response.content)

speed = soup.find_all("tr", attrs= {"class" : "data-result results"} )

internet_speed = {}
for data in speed:
    rank =  data.find_all("td")[0].get_text().strip()
    country = data.find_all("td")[2].get_text().strip()
    value = data.find_all("td")[3].get_text().strip()
    internet_speed[rank] = country, value
    
internet_speed

internet_df = pd.DataFrame(internet_speed).T

internet_df = internet_df.rename(columns = {0: "state", 1: "internet-speed"})


internet_df["capital-city"] = internet_df["state"].str.split(",").str[0]
internet_df["Country"] = internet_df["state"].str.split(",").str[1]
internet_df = internet_df.drop(["state"], axis = 1)

internet_df["internet-speed"] = internet_df["internet-speed"].astype(float)
internet_df = internet_df.groupby("Country").agg({"internet-speed": "mean"}).reset_index()
internet_df["Country"] = internet_df["Country"].str.strip()

internet_df.to_csv("internet.csv")

In [56]:
merged_df = transport_safety_df.merge(internet_df, how = "left", on = "Country")
merged_df["internet-speed"] = merged_df["internet-speed"].fillna(merged_df["internet-speed"].mean())

In [57]:
merged_df.to_csv("tra_cri_int.csv")

In [58]:
merged_df.head()

,Country,traffic_index,avg_time,co2_emission,Crime Index,Safety Index,internet-speed
0,Russia,177.9,43.9,4318.7,39.3,60.7,89.855
1,Ireland,149.5,37.9,4299.8,45.9,54.1,97.230
2,Belgium,146.2,36.3,4705.4,49.1,50.9,83.195
3,Ukraine,143.5,37.8,3802.8,46.7,53.3,80.100
4,United Kingdom,133.8,34.6,4081.1,46.9,53.1,79.570